ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-type: inside;
}
p {
  color: red;
}
.note {
  font-size: 20px;
}
#id-selector-demo {
  color: green;
}
li[value="4"] {
  color: green;
}
li {
  text-align: center;
}
